<!DOCTYPE HTML>

<html>
<head>
    <title>Big Data Era of Food</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <noscript>
        <link rel="stylesheet" href="/static/css/noscript.css"/>
    </noscript>
    <script type="text/javascript">
    </script>
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

    <!-- Intro -->
    <div id="intro">
        <h1>This is<br/>
            Big Data Era of Food</h1>

        <ul class="actions">
            <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>

    <!-- Header -->
    <header id="header">
        <a class="logo">Big Data Era of Food</a>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li class="active"><a href="/index.html">Home Page</a></li>
            <li><a href="/vitamin.html">vitamin</a></li>
            <li><a href="/rankSearch.html">Rank of foods</a></li>
            <li><a href="/radar.html"> radar info</a></li>
        </ul>
        <ul class="icons">
            <li><a href="http://www.weixin.com" class="icon fa-weixin"><span class="label"></span></a></li>
            <li><a href="http://www.weibo.com" class="icon fa-tencent-weibo"><span class="label"></span></a></li>
            <li><a href="http://www.qq.com" class="icon fa-qq"><span class="label"></span></a></li>
            <li><a href="http://www.github.com" class="icon fa-github"><span class="label"></span></a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Featured Post -->
        <article class="post featured">
            <header class="major">
                <span class="date" id='time'></span>
                <h2><a>Welcome to our website<br/>
                    Big Data Era of Food</a></h2>
                <p>In our website we use big data to collect most food information<br/>
                    and show you a lot of charts which can help you to decide what food is good for you. <br/>
                    Best wishes.</p>
                <div class="container">
                    <div class="row">
                        <div class="box col-md-4">
                            <p style="text-Align:center">The number of foods containing additives </p>
                            <h2 id = "dataAll">100000</h2>
                        </div>
                        <div class="box col-md-4">
                            <p style="text-Align:center">The number of foods that contain allergens</p>
                            <h2 id = "allergy">100000</h2>
                        </div>
                        <div class="box col-md-4">
                            <p style="text-Align:center">The number of foods that do not contain allergens</p>
                            <h2 id = "no_allergy">100000</h2>
                        </div>
                    </div>
                </div>
            </header>
        </article>

        <!-- Posts -->
        <div id="containerPlace" style="height: 1000px;weight:100%"></div>

    </div>


</div>

<!-- Scripts -->
<script type="text/javascript">
    document.write("<scr" + "ipt defer=\"defer\"  src =\"/static/js/init.js\"></sc" + "ript>")
    document.write("<scr" + "ipt defer=\"defer\"  src =\"/static/js/jquery.min.js\"></sc" + "ript>")
    document.write("<scr" + "ipt defer=\"defer\" src =\"/static/js/jquery.scrollex.min.js\"></sc" + "ript>")
    document.write("<scr" + "ipt defer=\"defer\" src =\"/static/js/jquery.scrolly.min.js\"></sc" + "ript>")
    document.write("<scr" + "ipt defer=\"defer\" src =\"/static/js/skel.min.js\"></sc" + "ript>")
    document.write("<scr" + "ipt defer=\"defer\" src =\"/static/js/util.js\"></sc" + "ript>")
    document.write("<scr" + "ipt defer=\"defer\" src =\"/static/js/main.js\"></sc" + "ript>")
</script>
{#zDLacU7CMRpVvW2FIM7nTMNBtEbWeaGK#}
<script defer="defer" type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script defer="defer" type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script defer="defer" type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script defer="defer" type="text/javascript"
        src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script defer="defer" type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script defer="defer" type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script defer="defer" type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script defer="defer" type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script defer="defer" type="text/javascript"
        src="https://api.map.baidu.com/api?v=2.0&ak=zDLacU7CMRpVvW2FIM7nTMNBtEbWeaGK&__ec_v__=20190126"></script>

<script defer="defer" src="/static/js/chartPlace.js"></script>

</body>
</html>

