<!DOCTYPE HTML>

<html>
<head>
    <title>Big Data Era of Food</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="/static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-loading" >

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

    <!-- Intro -->
    <div id="intro">
        <h1>This is<br/>
            Big Data Era of Food</h1>

        <ul class="actions">
            <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>

    <!-- Header -->
    <header id="header">
        <a href="/index.html" class="logo">HealthFood We Known</a>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li class="active"><a href="/index.html">Home Page</a></li>
            <li><a href="/generic.html">vitamin</a></li>
            <li><a href="/elements.html">Elements Reference</a></li>
        </ul>
        <ul class="icons">
            <li><a href="http://www.weixin.com" class="icon fa-weixin"><span class="label">GitHub</span></a></li>
            <li><a href="http://www.weibo.com" class="icon fa-tencent-weibo"><span class="label">GitHub</span></a></li>
            <li><a href="http://www.qq.com" class="icon fa-qq"><span class="label">GitHub</span></a></li>
            <li><a href="http://www.github.com" class="icon fa-github"><span class="label">GitHub</span></a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Featured Post -->
        <article class="post featured">
            <header class="major">
                <span class="date" id='time'></span>
                <h2><a href="#">Welcome to our website<br/>
                    Big Data Era of Food</a></h2>
                <p>In our website we use big data to collect most food information<br/>
                    and show you a lot of chars which can help you to decide what food is good for you. <br/>
                    Best wishes.</p>
            </header>
        </article>


        <!-- Posts -->
            <div id="container1" style="height: 1000px;weight:400px"></div>
            <div id="container4" style="height: 1000px;weight:400px"></div>
{#            <div id="container5" style="height: 600px;weight:400px"></div>#}

    </div>


</div>

<!-- Scripts -->
<script type="text/javascript">
    document.write("<scr"+"ipt src =\"/static/js/getTime.js\"></sc"+"ript>")
    document.write("<scr"+"ipt src =\"/static/js/jquery.min.js\"></sc"+"ript>")
    document.write("<scr"+"ipt src =\"/static/js/jquery.scrollex.min.js\"></sc"+"ript>")
    document.write("<scr"+"ipt src =\"/static/js/jquery.scrolly.min.js\"></sc"+"ript>")
    document.write("<scr"+"ipt src =\"/static/js/skel.min.js\"></sc"+"ript>")
    document.write("<scr"+"ipt src =\"/static/js/util.js\"></sc"+"ript>")
    document.write("<scr"+"ipt src =\"/static/js/main.js\"></sc"+"ript>")
    {#document.write("<scr"+"ipt src =\"\"></sc"+"ript>")#}
    {#document.write("<scr"+"ipt src =\"\"></sc"+"ript>")#}
    {#document.write("<scr"+"ipt src =\"\"></sc"+"ript>")#}
    {#document.write("<scr"+"ipt src =\"\"></sc"+"ript>")#}
    {#document.write("<scr"+"ipt src =\"\"></sc"+"ript>")#}
</script>
{#zDLacU7CMRpVvW2FIM7nTMNBtEbWeaGK#}
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript"
        src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>

<script type="text/javascript"
        src="https://api.map.baidu.com/api?v=2.0&ak=zDLacU7CMRpVvW2FIM7nTMNBtEbWeaGK&__ec_v__=20190126"></script>
<script src="/static/js/chart1.js"></script>

<script src="/static/js/chart4.js"></script>
</body>
</html>

