<!DOCTYPE HTML>

<html>
<head>
    <title>Big Data Era of Food</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <noscript>
        <link rel="stylesheet" href="/static/css/noscript.css"/>
    </noscript>
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <a href="index.html" class="logo">Massively</a>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li><a href="/index.html">Home Page</a></li>
            <li><a href="/vitamin.html">vitamin</a></li>
            <li class="active"><a href="/rankSearch.html">Rank of foods</a></li>
        </ul>
        <ul class="icons">
            <li><a href="http://www.weixin.com" class="icon fa-weixin"><span class="label"></span></a></li>
            <li><a href="http://www.weibo.com" class="icon fa-tencent-weibo"><span class="label"></span></a></li>
            <li><a href="http://www.qq.com" class="icon fa-qq"><span class="label"></span></a></li>
            <li><a href="http://www.github.com" class="icon fa-github"><span class="label"></span></a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" id="goods" placeholder="需要查询的原料">
                </div>
                <div class="col-md-2">
                    <button onclick="">Search</button>
                </div>
            </div>
        </div>
        <div class="table-wrapper">

            <table id="rank">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Item 1</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>Item 2</td>
                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                    <td>19.99</td>
                </tr>
                <tr>
                    <td>Item 3</td>
                    <td> Morbi faucibus arcu accumsan lorem.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>Item 4</td>
                    <td>Vitae integer tempus condimentum.</td>
                    <td>19.99</td>
                </tr>
                <tr>
                    <td>Item 5</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>29.99</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>100.00</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Scripts -->
{#<script src="/static/js/ajax_test.js"></script>#}
<script type="text/javascript">
    document.write("<scr" + "ipt defer=\"defer\"  src =\"/static/js/jquery.min.js\"></sc" + "ript>")
    document.write("<scr" + "ipt defer=\"defer\" src =\"/static/js/jquery.scrollex.min.js\"></sc" + "ript>")
    document.write("<scr" + "ipt defer=\"defer\" src =\"/static/js/jquery.scrolly.min.js\"></sc" + "ript>")
    document.write("<scr" + "ipt defer=\"defer\" src =\"/static/js/skel.min.js\"></sc" + "ript>")
    document.write("<scr" + "ipt defer=\"defer\" src =\"/static/js/util.js\"></sc" + "ript>")
    document.write("<scr" + "ipt defer=\"defer\" src =\"/static/js/main.js\"></sc" + "ript>")
    {#document.write("<scr"+"ipt src =\"\"></sc"+"ript>")#}
    {#document.write("<scr"+"ipt src =\"\"></sc"+"ript>")#}
    {#document.write("<scr"+"ipt src =\"\"></sc"+"ript>")#}
    {#document.write("<scr"+"ipt src =\"\"></sc"+"ript>")#}
    {#document.write("<scr"+"ipt src =\"\"></sc"+"ript>")#}
</script>


</body>
</html>